<li id='micropost-<%= micropost.id %>'>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class='content'><%= link_to micropost.title, micropost %></span>
  <span class='user'>作成者:<%= link_to micropost.user.name, micropost.user %></span>
  <span class='timestamp'>
     <%= micropost.created_at.strftime('%Y/%m/%d') %> 
    <% if current_user?(micropost.user) %>
      <%= link_to '削除', micropost, method: :delete, data: {confirm: 'You sure?'} %>
      | <%= link_to '編集', edit_micropost_path(micropost) %>
    <% end %>
  </span>
</li>
